.place-div{
    width:300px;
    height:200px;
    border:1px solid #000;
}
.form-div{
    max-width: 350px;
    padding: 10px 20px;
    height:380px;
	background: #f4f7f8;
	margin: 10px auto;
	
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-div  label {
	font-size: 1em;
	margin-bottom: 10px;
}
.form-div input[type=text], select {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid rgb(117, 116, 116);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #booking-button
  {
      position: relative;
      display: block;
      padding: 10px ;
     
      margin: 0 auto;
      font-size: 17px;
      text-align: center;
      font-style: normal;
      width: 100%;
      border: 1px solid #ee5b06;
      border-width: 1px 1px 3px;
      margin-bottom: 5px;
  }

  .date-div{
    display: flex;
    display: -webkit-flex;
  }
  .date-div .date-group{
    width: 100%;
    padding: 0px;
}
.date-div .date-group{
    margin-bottom: 23px;
    position: relative;
}